@charset "UTF-8";
/* CSS Document */


/* ***************** */
/* **** GLOBAL ***** */
/* ***************** */

html {
    height: 100%;
}

.tickets-pagebody {
    background-image: url("../assets/full-page-bg.jpg");
    background-color: #f89c27;
}

.tickets-section-container {
    border: 7px solid rgba(0,0,0,0.45);
    background-color: rgba(255,255,255,0.88);
    color: #333;   
}

.tickets-section-title {
    background-color: #158da7;
    background: linear-gradient(#56585a, #2c2e2f);
    font-family: 'Futura Today Light';
    font-size: 18px;
    color: #fff;
}

.tickets-section-content {
    font-size: 16px;
    line-height: 22px;
}

.tickets-section-content p a {
    text-decoration: none;
    color: #d75227;
}

.tickets-footer {
    background-color: rgba(0,0,0,0.7);
    border-top: 1px solid #f89c27;
    color: #ddd;
}

.tickets-footer a {
    color: #ddd;
    text-decoration: none;
}

.tickets-footer a:hover {
    color: #fff;
    text-decoration: underline;
}



/* ************************ */
/* ***** EVENT HEADER ***** */
/* ************************ */

.tickets-event-header-info {
    color: #fff;
}

.tickets-event-header-name {
    margin: 15px 0;
    font-family: 'Futura Today DemiBold';
    font-size: 40px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-event-header-date {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 24px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-event-header-location {
    margin: 4px 0 25px 0;
    padding: 0;
    font-size: 18px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-purchase-button,
.tickets-atc-button .atcb-link {
    background-color: #d75227;
    background: linear-gradient(#f89c27, #d27c0e);
    border: 2px solid #633c0a;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.tickets-purchase-button:hover,
.tickets-atc-button .atcb-link:hover {
    background: linear-gradient(#d27c0e, #f89c27);
}




/* *************************** */
/* ***** ADD TO CALENDAR ***** */
/* *************************** */


.tickets-atc-button .atcb-list,
.tickets-atc-button .atcb-item {
    background: #fff;
    color: #000;
}

.tickets-atc-button .atcb-item.hover,
.tickets-atc-button .atcb-item:hover {
    background: #f89c27;
    color: #fff;
}




