/*two-column*/


/* **** RESET & FONTS **** */

@import url("http://stylesheets.azcentral.com/ldsn-apps/default/general-reset.css");
@import url('http://pages.azcentral.com/gannett-fonts/css/futura.css');

/* **** GLOBAL **** */

body {
    font-family: "Futura Today", sans-serif;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}

/* **** COBRAND **** */

.cobrand-menu {
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.cobrand-footer {
    clear: both;
    width: 100%;
}

/* **** ADS **** */

.ad300x {
    width: 300px;
    min-height: 250px;
    background: #efefef;
}
.ad728x90 {
    clear: both;
    width: 728px;
    height: 90px;
    margin: 0 auto 20px auto;
    background: #efefef;
}

/* **** HEADER **** */

.header {
    padding: 20px;
}
.header img {
    float: left;
    max-width: 200px;
    margin: 0 20px 20px 0;
}
.header h1 {
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'Futura Today DemiBold';
    color: #444;
}
.header h2 {
    padding: 30px 0 0 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: capitalize;
    font-family: 'Futura Today Light';
    color: #777;
}
.header h3 {
    clear: both;
    margin: 20px 0;
    padding: 8px 12px;
    background: #666;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Futura Today Light';
    text-align: center;
    letter-spacing: .6px;
    color: #fff;
}
.header p {
    margin: 22px 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    color: #585956;
}
.header a {
    display: inline-block;
    margin: 0 15px 20px 0;
    padding: 18px 25px;
    font-family: 'Futura Today DemiBold';
    background: #555;
    text-align: center;
    color: #fff;
}
.header a:hover {
    opacity: 0.8;
}

/* **** SECOND STREET **** */

.second-street {
    float: left;
    width: calc(100% - 360px);
    min-height: 250px;
    margin: 0 0 20px 20px;
}

/* **** AD RAIL **** */

.ad-rail {
    float: right;
    width: 300px;
    margin: 0 20px 50px 0;
}
.ad-rail ul {
    width: 300px;
    margin: 30px auto;
    padding: 20px 0;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ad-rail ul p {
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-family: 'Futura Today Light';
    color: #777;
}
.ad-rail ul li {
    padding: 10px 0;
    font-size: 15px;
    line-height: 18px;
    color: #0066b3;
}
.ad-rail ul li a {
    display: block;
    height: 100%;
    cursor: pointer;
}
.ad-rail ul li:hover {
    opacity: 0.8;
}

/* **** RESPONSIVE BREAKPOINT 900 **** */

@media only screen and (min-width: 776px) and (max-width: 900px) {
    .header img {
        width: 200px;
        margin: 0 20px 20px 0;
    }
    .header h2 {
        padding: 0;
    }
}

/* **** RESPONSIVE BREAKPOINT 775 **** */

@media only screen and (min-width: 1px) and (max-width: 775px) {
    .ad300x {
        margin: 0 auto;
        background: #ddd;
    }
    .ad728x90 {
        display: none;
    }
    .header {
        text-align: center;
    }
    .header img {
        float: none;
        width: 200px;
        margin: 0 auto;
    }
    .header p {
        text-align: justify;
    }
    .header h2 {
        font-size: 26px;
    }
    .second-street {
        float: none;
        width: auto;
        margin: 0 0 20px 0;
    }
    .ad-rail {
        float: none;
        width: 100%;
        padding: 20px 0;
        background: #efefef;
        text-align: center;
    }
}

/*second-street*/


/* **** COLOR OVERRIDES **** */

.ad300x {
    background: #efefef;
}
.ad728x90 {
    background: #efefef;
}
.ad-rail ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ad-rail ul p {
    color: #777;
}
.ad-rail ul li {
    color: #0066b3;
}
body {
    background: #6c6d70;
}
.header {
    background: #ffffff;
    min-height: 150px;
    max-width: 1200px;
}
.header h1 {
    color: #444;
}
.header h2 {
    color: #777;
    font-family: 'Futura Today';
    color: 24418f;
    font-size: 36px;
}
.header h3 {
    background: #666;
    color: #fff;
}
.header p {
    color: #585956;
    margin: 16px 0 40px 0;
    max-width: 1000px;
}
.header a {
    background: #da2929;
    color: #fff;
}
.complete-wrapper {
    background-color: #f6f6f6;
}
.wrapper {
    background-color: #ffffff;
    padding-bottom: 20px;
}
.ad-rail {
    margin-top: 20px;
}
h3#ssVotersChoice_CategoryLabel {
    font-weight: bold;
}
#ssPromotion.ssVotersChoice,
#ssVotersChoice {
    font-family: 'Futura Today';
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
    box-shadow: none !important;
}
#ssPromotion li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-top: 1px solid #dbdbdb !important;
    padding: 10px 0 !important;
}
#ssPromotion li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0px;
}
li.ssBestOf_CategoryList_Item,
li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
    background: #ffffff;
    !important;
    border-color: #e6e6e6;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /* W3C */
}
#ssPromotion.ssAestheticsOn h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle {
    color: #585956 !important;
    font-family: "Futura Today DemiBold" !important;
}
#ssPromotion .ssSubCategory_Open h3.ssBestOf_Ballot_SubCategory_Title > .catToggle > div.ssExpandButton > .ssButtonArrow {
    -webkit-transform: rotate(0deg) !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
    height: 100% !important;
    width: 100% !important;
    background: url('http://assets.azcentral.com/bestOf/_global/b-dropdown-arrow.png') 5px 10px no-repeat !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
    height: 100% !important;
    width: 100% !important;
    background: url('http://assets.azcentral.com/bestOf/_global/b-dropdown-arrow.png') 5px 10px no-repeat !important;
    -webkit-transform: rotate(-90deg) !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
    display: block;
    -webkit-transition: all 0.1s ease-in-out;
}
*[class*="Button"] {
    cursor: pointer;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
    text-indent: -9999px !important;
    border-none;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
    overflow: hidden !important;
    text-indent: -9999px !important;
    box-shadow: none !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button,
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
    line-height: 22px;
    width: 22px;
    text-align: center;
    border-width: 1px;
    display: block;
    position: absolute;
    right: 9px;
    top: 9px;
    padding: 0;
    border-radius: 20px;
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 11px;
}
.ssButton-PrimaryAction,
.ssPromotion button,
.ssPromotion input[type="button"],
#btnPopupModal,
h3.ssBestOf_Ballot_SubCategory_Title > .catToggle > button {
    background: #cd4849 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
#ssPromotion .ssMatchup_Entry .voteButton.vote,
#ssPromotion .ssMatchup_Entry.featured .voteButton.vote,
#ssPromotion .ssMatchup_WriteIn .voteButton.vote {
    background: #cd4849 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.ssButton-PrimaryAction:hover {
    opacity: 0.8;
}
.ladda-button .ladda-label {
    font-family: 'Futura Today Light';
    text-transform: uppercase;
}
.ssExpandButton {
    color: #3d586a !important;
    border: 1px color: #3d586a solid !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset !important;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3) !important;
}
@media only screen and (min-width: 1px) and (max-width: 775px) {
    .ad300x {
        background: #ddd;
    }
    .ad-rail {
        background: #efefef;
    }
    .header img {
        float: none !important;
        max-width: 300px !important;
        margin: 0 auto 20px auto !important;
        text-align: center;
    }
}

/* **** LAYOUT OVERRIDES **** */

body {
    background: #ffffff;
}
.wrapper {
    background: #ffffff;
    max-width: 1100px;
}
.header {
    background: #fff;
    padding: 20px;
}
.header h3 {
    padding: 8px 30px;
    display: inline-block;
}
.header p {
    margin: 16px 0 20px 0;
}
.ad728x90 {
    text-align: center;
}
.footer {
    background-color: #EBEBEB;
    text-align: right;
    padding: 0;
    font-size: 80%;
    line-height: 35px;
}
.footer-back-to-top {
    display: none;
}
.footer-list {
    margin: 0;
    font-size: 100%;
    line-height: 25px;
    padding: 10px 40px 0;
    list-style-type: none;
    list-style-position: inside;
}
.footer-list,
.copyright {
    background: none;
    text-align: center;
}
.footer-item {
    display: inline;
}
.copyright {
    padding: 0 0 10px;
}
