/* **** COLOR OVERRIDES **** */



.ad300x {
    background: #efefef;
}

.ad728x90 {
    background: #efefef;
}
.ad-rail ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ad-rail ul p {
    color: #777;
}

.ad-rail ul li {
    color: #0066b3;
}

body {
	background:#6c6d70;
}
.header {
    background: #ffffff;
    min-height:250px;
    max-width:1200px;
}

.header h1 {
    color: #444;
}
.header h2 {
    color: #777;
    font-family: 'Futura Today';
	color:24418f;
	font-size:36px;
}
.header h3 {
    background: #666;
    color: #fff;
}
.header p {
    color: #585956;
    margin: 16px 0 40px 0;
max-width: 1000px;
}
.header a {
    background: #da2929;
    color: #fff;
}
.header img {
   float: left;
   max-width: 300px;
   margin: 0 40px 20px 0;
}
.complete-wrapper {
	background-color:#f6f6f6;
}
.wrapper {
background-color:#ffffff;
padding-bottom:20px;
}
.ad-rail {
margin-top:20px;
}

h3#ssVotersChoice_CategoryLabel {
	font-weight:bold;
}
#ssPromotion.ssVotersChoice, #ssVotersChoice {
    	font-family:'Futura Today';
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
box-shadow: none !important;
}
#ssPromotion li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
border-left: none !important;
border-right: none !important;
border-bottom: none !important;
border-top: 1px solid #dbdbdb !important;
padding: 10px 0 !important;
}
#ssPromotion li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
border-width: 1px;
border-style: solid;
border-bottom-width: 0px;
}
li.ssBestOf_CategoryList_Item, li.ssBestOf_Ballot_Content_SubCategoryList_SubCategory {
background: #ffffff; !important;
border-color: #e6e6e6;
background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%); /* W3C */
}
#ssPromotion.ssAestheticsOn h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle {
color: #585956 !important;
font-family: "Futura Today DemiBold" !important;
}
#ssPromotion .ssSubCategory_Open h3.ssBestOf_Ballot_SubCategory_Title > .catToggle > div.ssExpandButton > .ssButtonArrow {
-webkit-transform: rotate(0deg) !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
height: 100% !important;
width: 100% !important;
background: url('http://assets.azcentral.com/bestOf/_global/b-dropdown-arrow.png') 5px 10px no-repeat !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
height: 100% !important;
width: 100% !important;
background: url('http://assets.azcentral.com/bestOf/_global/b-dropdown-arrow.png') 5px 10px no-repeat !important;
-webkit-transform: rotate(-90deg) !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button > .ssButtonArrow, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton > .ssButtonArrow {
display: block;
-webkit-transition: all 0.1s ease-in-out;
}
*[class*="Button"]{
cursor:pointer;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
text-indent: -9999px !important;
border-none;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
overflow: hidden !important;
text-indent: -9999px !important;
box-shadow: none !important;
}
#ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > button, #ssPromotion h3.ssBestOf_Ballot_SubCategory_Title > a.catToggle > div.ssExpandButton {
line-height: 22px;
width: 22px;
text-align: center;
border-width: 1px;
display: block;
position: absolute;
right: 9px;
top: 9px;
padding: 0;
border-radius: 20px;
border: none;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
font-size: 11px;
}

.ssButton-PrimaryAction, .ssPromotion button, .ssPromotion input[type="button"], #btnPopupModal, h3.ssBestOf_Ballot_SubCategory_Title > .catToggle > button {
background:#cd4849 !important;
border:none !important;
box-shadow:none !important;
border-radius:0px !important;
}
#ssPromotion .ssMatchup_Entry .voteButton.vote, #ssPromotion .ssMatchup_Entry.featured .voteButton.vote, #ssPromotion .ssMatchup_WriteIn .voteButton.vote {
background:#cd4849 !important;
border:none !important;
box-shadow:none !important;
border-radius:0px !important;
}
.ssButton-PrimaryAction:hover {
opacity:0.8;
}
.ladda-button .ladda-label {
	font-family:'Futura Today Light';
	text-transform:uppercase;
}

.ssExpandButton {
color: #3d586a !important;
border: 1px color:#3d586a solid !important;
box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset !important;
text-shadow: 0 0 0 rgba(0, 0, 0, 0.3) !important;
}

@media only screen 
and (min-width: 1px) 
and (max-width: 775px) {
    
    .ad300x {
        background: #ddd;
    }

    .ad-rail {
        background: #efefef;
    }
.header img {
   float:none !important;
   max-width: 300px !important;
   margin: 0 auto 20px auto !important;
   text-align:center;
}
}




/* **** LAYOUT OVERRIDES **** */