@charset "UTF-8";

/* -------- Default Styles -------- */

* {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	font-size: 100%;
}

html, body {
	height: 100%;
	min-height: 100%;
	line-height: 1;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background: #368fca !important;
}

.complete-wrapper {
	background: fixed #368fca !important;
}

.cobrand-header, .cobrand-footer {
	width: 1000px;
	margin: 0 auto;
}

.container {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto 0 auto;
}

.ad-container {
	width: 950px;
	height: 90px;
	margin: 10px auto;
	padding: 0;
}

.mobile-header {
	width: 100%;
	background: #000;
	text-align: center;
	display: none;
}

.mobile-header a {
	display: block;
	width: 100%; 
	height: 100%;
}

.mobile-header img {
	padding: 6px 0 2px 0;
}

.lead-container {
	padding: 20px 35px 12px 35px;
}

.lead-container img {
	float: left;
}

.marketing {
	display: block;
	float: right;
	width: 622px;
	text-align: center;	
}

.marketing h1 {
	margin: 5px 0;
	padding: 14px 0;
	background: #cc172f;
	font-size: 30px;
	letter-spacing: .01em;
	text-shadow: 0px 3px 4px rgba(140, 16, 2, 1);
	color: #fff;
	line-height: 30px;
}

.marketing h2 {
	margin: 15px 0;
	font-size: 19px;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-shadow: 0px 3px 4px rgba(30, 96, 140, 1);
	color: #ffd014;
}

.marketing p {
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	text-align: left;
	font-weight: lighter;
	letter-spacing: .015em;
}

.clear {
	clear: both;
}

.upickem {
	width: 100%;
	max-width: 100%;
	background: #fff !important;
}

/* -------- Tablet Portrait Styles -------- */

@media only screen 
and (min-width : 601px) 
and (max-width : 990px)  {
	
	.container {
		width: 760px;
		min-width: 760px;
		max-width: 760px;
		margin: 0 auto;
	}
	
	.ad-container {
		display: none;
	}
	
	.cobrand-header {
		width: 100%;
		text-align: center;
		overflow: hidden;
	}
	
	.cobrand-header iframe {
		left: -50px;
	}
	
	.cobrand-footer {
		display: none;
	}
	
	.lead-container {
		width: 95%;
		max-width: 95%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	
	.lead-container img {
		padding-top: 50px;
		height: 153px;
		width: 187px;
	}

	.marketing { 
		width: 510px;
	}
	
	.upickem {
		width: 95%;
		max-width: 95%;
		margin: 0 auto 20px auto;
	}

}


/* -------- Mobile Styles -------- */

@media all 
and (max-width: 600px) {
	
	.cobrand-header, .cobrand-footer {
		display: none;
	}
	
	.container {
		width: 100%;
		min-width: 100%;
	}
	
	.ad-container {
		display: none;
	}
	
	.mobile-header {
		display: block;
	}
	
	.lead-container {
		text-align: center;
		width: 90%;
		min-width: 90%;
		max-width: 90%;
		margin: 20px auto;
		padding: 0;
	}
	
	.lead-container img {
		float: none;
		height: 153px;
		width: 187px;
		margin: 0;
		padding: 0;
	}
	
	.marketing {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.marketing h1 {
		margin-top: -5px;
		font-size: 24px;
		line-height: 35px;
		padding: 8px;
	}
	
	.marketing h2 {
		font-size: 17px;
		line-height: 25px;
		padding: 0 20px;
	}
	
	.marketing strong {
		display: none;
		line-height: 1px;
	}
	
	.marketing p {
		padding-top: 0;
	}

	.upickem {
		width: 90%;
		max-width: 90%;
		margin: 0 auto 20px auto;
	}
}