<!-- Instructions for use: https://confluence.gannett.com/display/SSTemplate/Using+the+Second+Street+Default+Template -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>SITENAME</title>
    
    <!-- META -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/main.css" type="text/css" />

</head>
 
<body id="index" class="home">
    
    <!-- COBRAND HEADER -->
    <div class="cobrand-menu">
        <iframe src="http://www.democratandchronicle.com/services/cobrand/header/" width="100%" height="40" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <div class="wrapper">
        
        <!-- PROMO HEADER -->
        <div class="header">
            <img src="assets/logo.png">
            <p>Picture your baby in a special section of the <em>Democrat and Chronicle</em>! Not only will you cherish this special keepsake, but your child’s photo could also be selected for the cover of our section.</p>
 
            <p>Baby photos are posted on this site and we are asking visitors to our website to voice their choice for the baby photos to be used on the cover of the Meet The Babies of 2015 newspaper section.</p>
 
            <p>Upload your Baby Pictures Today!</p>
        </div>
        
        
        <!-- SECOND STREET INCLUDE -->
        <div class="second-street">
            {UPICKEM}
        </div>
        
        <div class="ad728x90"></div>
        
    </div>
    
    <!-- COBRAND FOOTER -->
    <div class="cobrand-footer">
        <ul>
            <li><a href="http://static.democratandchronicle.com/help/">Help</a></li> 
            <li>&bull; <a href="http://static.democratandchronicle.com/terms/">Terms of Service</a></li> 
            <li>&bull; <a href="http://static.democratandchronicle.com/privacy/">Privacy Notice</a></li>
            <li>&bull; <a href="http://static.democratandchronicle.com/privacy/">Your California Privacy Notice</a></li>
            <li>&bull; <a href="http://static.democratandchronicle.com/privacy/#adchoices">Ad Choices</a></li>
            <li>&bull; <a href="http://www.democratandchronicle.com/">Full Site</a></li>
        </ul>
        <p>Copyright Gannett 2015</p>
    </div>
    

</body>
</html>