/* **** COLOR OVERRIDES **** */



.ad300x {
    background: #efefef;
}

.ad728x90 {
    background: #efefef;
}

.header h1 {
    color: #444;
}

.header h2 {
    color: #777;
}

.header h3 {
    background: #666;
    color: #fff;
}

.header p {
    color: #585956;
}

.header a {
    background: #555;
    color: #fff;
}

.ad-rail ul {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ad-rail ul p {
    color: #777;
}

.ad-rail ul li {
    color: #0066b3;
}

body {
	background:#f6f6f6;
}
.header a {
	background: #da2929;
}
.header h2 {
	font-family: 'Futura Today';
}
.second-street {
	background:#ffffff;
}

h3#ssVotersChoice_CategoryLabel {
	font-weight:bold;
}

@media only screen 
and (min-width: 1px) 
and (max-width: 775px) {
    
    .ad300x {
        background: #ddd;
    }

    .ad-rail {
        background: #efefef;
    }

}




/* **** LAYOUT OVERRIDES **** */