@charset "UTF-8";
/* CSS Document */


/* ***************** */
/* **** GLOBAL ***** */
/* ***************** */

.tickets-pagebody {
    background-image: url("../assets/full-page-bg.jpg");
    background-color: #60a9a9;
}

.tickets-section-container {
    border: 7px solid rgba(0,0,0,0.45);
    background-color: rgba(255,255,255,0.88);
    color: #333;   
}

.tickets-section-title {
    background-color: #158da7;
    background: linear-gradient(#158da7, #046e85);
    font-family: 'Futura Today Light';
    font-size: 18px;
    color: #fff;
}

.tickets-section-content {
    font-size: 16px;
    line-height: 22px;
}

.tickets-section-content p a {
    text-decoration: none;
    color: #d75227;
}

.tickets-footer {
    background-color: rgba(0,0,0,0.5);
    border-top: 1px solid #158da7;
    color: #ddd;
}

.tickets-footer a {
    color: #ddd;
    text-decoration: none;
}

.tickets-footer a:hover {
    color: #fff;
    text-decoration: underline;
}



/* ************************ */
/* ***** EVENT HEADER ***** */
/* ************************ */

.tickets-event-header-info {
    color: #fff;
}

.tickets-event-header-name {
    margin: 15px 0;
    font-family: 'Futura Today DemiBold';
    font-size: 40px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-event-header-date {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 24px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-event-header-location {
    margin: 4px 0 25px 0;
    padding: 0;
    font-size: 18px;
    text-shadow: 0 3px 6px #000000;
    color: #fff;
}

.tickets-purchase-button,
.tickets-atc-button .atcb-link {
    background-color: #d75227;
    background: linear-gradient(#d75227, #b13b15);
    border: 2px solid #792105;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.tickets-purchase-button:hover,
.tickets-atc-button .atcb-link:hover {
    background: linear-gradient(#b13b15, #d75227);
}




/* *************************** */
/* ***** ADD TO CALENDAR ***** */
/* *************************** */


.tickets-atc-button .atcb-list,
.tickets-atc-button .atcb-item {
    background: #fff;
    color: #000;
}

.tickets-atc-button .atcb-item.hover,
.tickets-atc-button .atcb-item:hover {
    background: #d75227;
    color: #fff;
}




