@charset "UTF-8";

.contact {
text-align: left;
display: block;
margin-bottom: 30px;
	}
	
h5 {
    color: #666666;
    float: left;
    font-family: 'Futura Today Screen Bold',arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 6px 5px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    clear:both;
}
.headlines-header-title {
    color: #000000;
    float: left;
    font-family: 'Futura Today Screen Bold',arial,sans-serif;
    font-size: 15px;
    font-weight: normal!important;
    margin: 26px 5px -10px 0;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
	letter-spacing:3px;
}
.stafflisting {
	line-height: 1.4;
	}
	
.stafflisting b {
	font-size:170%;
}
	
.fb-follow.fb_iframe_widget {
	float:left;
	margin-top:-2px;
	padding-right:10px;
	}
.small {font-size:0.8rem;}

.email { 
font-size: 80%;
clear: both;
display: block;
margin-bottom: -15px;
}

h1 {font-size:60px; margin-bottom: -11px;}
h2 {margin-bottom: 23px; }

.static-card h1.page-title {
font-size: 30px; color:gray;
}

.static-card { overflow-x: hidden; }





