@charset "UTF-8";
/* CSS Document */

.button {
  margin: 10px 0;
  background: #ef644f;
}

.button:hover {
    background: #cd5644;
    transition: background .3s ease;
}

.readers-choice {
    background: none;
    background-color: #ef644f;
}

#nav {
    background: #5f4955;
}

.nav-menu {
    background: #5f4955;
}

.nav-menu ul li {
    border-right: 1px solid #4a373b;
}

.nav-menu ul li:first-child {
    border-left: 1px solid #4a373b;
}

.nav-menu ul li:hover a {
    color: #b38ba1;
}

.feat-module .info-box {
    height: calc(100% - 50px);
}

.feat-module .info-box a {
    top: 19px;
}

.feat-module .info-box p {
    margin-top: 30px;
    font-size: 15px;
}

.feat-module h3,
.module h3 {
    background: #ef644f;
}

.featuredLinks a.critics-picks {
    margin-bottom:10px;
}

.filter-column .filter-box {
    background: #e9e9e9;
}

.filter-display {
    background-color: #e9e9e9;
}

.filter-column .filter-box input {
    border: 1px solid #bbb;
    color: #c0c0c0;
}

.filter-column ul li.main {
    border-top: 1px solid #bbb;
}

.filter-column ul li.secondary {
    background: #bbb;
    border-bottom: 1px solid #999;
}

.filter-column ul li.secondary:hover, .filter-column ul li.active {
    background: #999;
}

.filter-column img.logo {
  top: -15px;
  margin: 0 auto;
  z-index: 10;
  width: 155px;
}

.article-intro p.title span {
    color: #888;
}

.article-body .content p.name {
    color: #000;
}

.article-body .content p.info a {
    color: #ca363a;
}

.article-body address a {
    color: #666;
}

.feat-module .info-box img.logo {
    top: -80px;
    width: 155px;    
}

.feat-module .info-box p {
    margin: 32px auto 0 auto;
}

.article-intro p.title {
    margin: 15px 10px 5px 220px;
}

img.articlelogo {
    width:230px;
}

.top-banner-ad {
    width:720px; 
    margin:0 auto 22px auto;
}

.cobrand-footer {
    text-align: center;
}

@media only screen 
and (max-width : 999px) {
    
    .nav-menu ul li {
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-top: 1px solid #4a373b;
    }
    
}

@media only screen 
and (min-width : 280px) 
and (max-width : 669px) {

    img.articlelogo {
        margin: 0;
        width: 130px;
    }
    
    .article-intro p.title {
        margin: 10px 10px 10px 140px;
    }
    
    .article-intro p.title span {
        color: #fff;
    }

}

