/* **** RESET & FONTS **** */

@import url("http://stylesheets.azcentral.com/ldsn-apps/default/general-reset.css");
@import url('http://pages.azcentral.com/gannett-fonts/css/futura.css');
 

/* **** GLOBAL **** */

body {
    font-family: "Futura Today", sans-serif;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}




/* **** COBRAND **** */

.cobrand-menu,
.cobrand-footer {
    clear: both;
    width: 100%;
    overflow: hidden;
}



/* **** HEADER **** */

.header {
    margin: 20px 0 30px 0;
    height: 200px;
    background-color: #ff33cc;
}



/* **** SECOND STREET **** */

.second-street {
    clear: both;
    width: 100%;
}


/* **** RESPONSIVE BREAKPOINT 900 **** */

@media only screen 
  and (min-width: 769px) 
  and (max-width: 900px) {

    header img {
        float: left;
        width: 250px;
    }
      
    header p {
        width: calc(100% - 280px);
    }

    .phase-date {
        padding: 15px 0 0 0;  
    }
      
    .phase-text {
        font-size: 45px;
    }
      
    .blurb {
        margin: 15px 0;
        font-size: 18px;
        line-height: 22px;
    }
      
}


/* **** RESPONSIVE BREAKPOINT 634 **** */

@media only screen 
  and (min-width: 1px) 
  and (max-width: 768px) {
    
    header {
        text-align: center;
    }
      
    header img {
        float: none;
        width: 300px;
        margin: 0 auto;
    }
      
    header p {
        float: none;
        width: auto;
    }

    .phase-date {
        padding: 30px 0 0 0;
        font-size: 26px;
    }
      
    .phase-text {
        font-size: 35px;
        line-height: 40px;
    }
      
    .blurb {
        margin: 15px 0;
        font-size: 18px;
        line-height: 22px;
    }

}